html
  head
  body
    table(id='high-scores-top-10')
      tr
        th Name
        th Year
        th Score
        th Timestamp
    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js')
    script.
      const headers = document.getElementById('high-scores-top-10').innerHTML;
      async function main() {
        const response = await axios.get('/topScores', {
          params: {
            limit: 30
          }
        });
        const topScores = response.data;
        let result = '';
        for (let i = 0; i < topScores.length; i++) {
          result += [
            '<tr>',
            `<td>${topScores[i].id}</td>`,
            `<td>${topScores[i].year}</td>`,
            `<td>${topScores[i].score}</td>`,
            `<td>${new Date(topScores[i].timestamp).toISOString()}</td>`,
            '<tr>'
          ].join('\n');
        }
        document.getElementById('high-scores-top-10').innerHTML = headers + result;
      }
      main().catch(err => console.error(err));